/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
    color:#370A73;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #370A73;
    margin: 6px 0;
    transition: 0.4s;
}

/* Estilo para el encabezado */
.encabezado {
    background-color: #E6E6E6;
    color: white;
    text-align: center;
    padding: 20px;
}

.encabezado h1 {
    font-size: 24px;
    margin: 0;
}

/* Estilo para el logotipo */
.logo {
    vertical-align: middle;
}

/* Estilo para el menú lateral */
.menu-lateral {
    padding-top: 100px;
    background-color: #370A73;
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 20px;
}

.menu-lateral li {
    margin-bottom: 10px;
}

.menu-lateral a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.menu-lateral a:hover {
    text-decoration: underline;

}

/* Estilo para el contenido principal */
main {
    margin-left: 250px;
    padding: 20px;
    background-color: white;
}

/* Estilo para el pie de página */
.pie-depagina {
    background-color: #F35821;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.informacion{
    background-color: #f9f9f9;
    padding: 20px;
}
/* Agrega estilos para las imágenes de promoción */
.promo-img-50 {
    width: 40%;

}
.promo-img2-50 {
    width: 40%
}

.promo-img-100 {
    margin-bottom: 20px;
    left: 260px;
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tarjeta{
    max-width: 250px;
    margin-bottom: 10px;
}

.grafico{
    max-width: 500px;
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    font-weight: bold;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.card li {
    margin-bottom: 5px;
}
